.card-legend {
    border-top-width: 2px;
    border-top-color: $primary-color;
    .text-on-card {
        background: #fff none repeat scroll 0 0;
        height: auto;
        padding: 3px 5px;
        position: absolute;
        margin-top: -43px;
        border-radius: 8px;
    }
    .card-body {
        padding-top: 30px !important;
    }
}