.navbar {
    min-height: 4rem;
    //@include linear-gradient(lighten($primary-color,35%),$white);
}

// Make nav bar scrolable in SM devices once menu items are many
@media (max-width: 576px) {
    .navbar-collapse {
        max-height: 340px;
        overflow-y: auto;
    }
}