//variables
@black: #000;
@gray-lightest: lighten(@black, 97.25%);
@gray-lighter: lighten(@black, 93.5%);
@gray-light: lighten(@black, 60%);
@gray: lighten(@black, 33.5%);
@gray-dark: lighten(@black, 20%);
@gray-darker: lighten(@black, 13.5%);
@white: #fff;
@red: #ff0000;


@dark-red: #b20000;
@light-gray: #f5f5f5;

//microsoft metro menu color
@color_purple: #5133AB;
@color_red: #AC193D;
@color_orange: #DC572E;
@color_green: #00A600;
@color_blue: #2672EC;


//brand color
@brand-light: #0256A0;
@brand-dark: #0D2B48;

//CI Calendar
@calendar-border: @color_blue;
@day_selected : lighten(@color_blue,30%);
@calendar-week: @color_purple;
@calendar-grid-border: lighten(@black, 70%);
@today-highlight: @color_blue;